body{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    background-color: #e7e6e6;
}

.wrapper{
    height: 60px;
    width: 100%;
    background-color: #1F2937;
    display: flex;
}
.wrapper img{
    margin: 12px;
}

.wrapper input[type="text"]{
    height: 40px;
    width: 350px;
    margin:10px 0 0 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding-left: 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.wrapper button{
    height: 40px;
    margin: 10px 0 0 0;
    border: none;
    outline: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}
.wrapper nav{
    display: flex;
    align-items: center;
}
.wrapper nav{
    margin-left: auto;
}

.wrapper nav ul{
    list-style: none;
    margin: 0;padding: 0;
}
.wrapper nav ul li{
    margin: 0;padding: 0;display: inline;
}
.wrapper nav ul li a{
    display: inline-block;
    height: 40px;
    width: auto;
    padding: 0 10px;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    color: #D1D5Db;
    line-height: 35px;
}
.wrapper nav ul li a:hover{
    color: white;
}
.wrapper nav button{
    height: 40px;
    width: 140px;
    margin-left: 16px;
    background-color: #3B82F6;
    border-radius: 2px;
    margin-right: 10px;
    margin-top: 0px;
    cursor: pointer;
    color: white;
    font-weight: 500;
}
.wrapper nav button:hover{
    
    background-color: rgb(37 99 235);
}
.hero{
    background-color: #1D4ED8;
    height: 350px;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero h2{
    font-size: 32px;
    color: white;
    font-weight: 400;
    margin: 0;
}
.hero h4{
    font-size: 16px;
    color: white;
    margin: 0;
    margin-top: 5px;
    font-weight: lighter;
}
.bline{
    height: 4px;
    width: 250px;
    background-color: white;
    margin-top: 20px;
}
#main{
    display: flex;
    width: 100%;
}
#main .leftquiz{
    width: 30%;
}
#main .rightquiz{
    width: 70%;
}

@media screen and (max-width:768) {
    
    
}